{% extends 'base.html' %}

{% load static %}

{% block content %}

    <section class="intern">
        <div class="container">
            <div class="row">


                <div class="col-4">
                    <div class="sidebar">
                        <h4>Categoria</h4>
                        <ul class="category">
                            <li><a href="">Design</a></li>
                            <li><a href="">Python</a></li>
                            <li><a href="">Javascript</a></li>
                            <li><a href="">front-end</a></li>
                            <li><a href="">back-end</a></li>
                            <li><a href="">devops</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-8">
                    <img src="{% static 'img/blog/9038266281_b3372d13f2_h.jpg' %}">
                    <div class="card-content">
                        <h3>Ambrose Redmoon</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, magni, recusandae!
                            Accusantium dolor facilis incidunt, libero nemo nihil nisi quas soluta totam
                            voluptatibus.
                            Aspernatur expedita illo ipsa laborum repellat, tempore.</p>
                        <a href="">ler mais <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>


            </div>
        </div>
    </section>

{% endblock %}