{% load static %}

<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>Pricing example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Empresa</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Serviços</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Clientes</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Depoimentos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contato</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<section id="slider" class="owl-carousel owl-theme">
    <div class="item">
        <img src="">
    </div>
</section>

<main>

    <section id="company" class="">
        <div class="container">

            <div class="row">
                <div class="col">
                    <h3>Empresa</h3>
                </div>
            </div><!-- ./row -->

            <div class="row">
                <div class="col">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto asperiores doloremque
                    dolores esse est illum maxime molestiae optio rerum. Dignissimos dolorem laborum provident ratione,
                    tempora totam voluptate? Id, rem?
                </div>
            </div><!-- ./row -->

        </div><!-- ./container -->
    </section><!-- #/company -->

    <section id="services">
        <div class="container">

            <div class="row">
                <div class="col">
                    <h3>Serviços</h3>
                </div>
            </div><!-- ./row -->

            <div class="row">
                <div class="col-4">
                    <h4>One</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, nisi, voluptates. Consectetur
                        doloribus eligendi nemo voluptas voluptates. Aperiam dolorem doloribus hic illo in maiores
                        provident
                        quasi tempora? Atque, libero quaerat?</p>
                </div>
                <div class="col-4">
                    <h4>One</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, nisi, voluptates. Consectetur
                        doloribus eligendi nemo voluptas voluptates. Aperiam dolorem doloribus hic illo in maiores
                        provident
                        quasi tempora? Atque, libero quaerat?</p>
                </div>
                <div class="col-4">
                    <h4>One</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, nisi, voluptates. Consectetur
                        doloribus eligendi nemo voluptas voluptates. Aperiam dolorem doloribus hic illo in maiores
                        provident
                        quasi tempora? Atque, libero quaerat?</p>
                </div>
            </div><!-- ./row -->

        </div><!-- ./container -->
    </section><!-- #/services -->

    <section id="clients">
        <div class="container">

            <div class="row">
                <div class="col">
                    <h3>Clientes</h3>
                </div>
            </div><!-- ./row -->

            <div class="row">
                <div class="col">
                    <div id="owl-clients" class="owl-carousel owl-theme">
                        <div class="item">
                            <img src="">
                        </div>
                    </div>

                    <div id="testimonials" class="owl-carousel owl-theme">
                        <div class="item">
                            <img src="">
                            <h3>Danilo Rodrigues - CEO</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam optio quaerat saepe
                                temporibus.
                                Commodi consectetur cupiditate earum impedit maxime optio reiciendis sapiente
                                voluptatem!
                                Consequuntur et incidunt iure mollitia similique veniam!</p>
                        </div>
                    </div>
                </div>
            </div><!-- ./row -->

        </div><!-- ./container -->
    </section><!-- #/clients -->

    <section id="blog">
        <div class="container">

            <div class="row">
                <div class="col">
                    <h3>Blog</h3>
                </div>
            </div><!-- ./row -->

        </div><!-- ./container -->
    </section><!-- #/blog -->

    <section id="contact">
        <div class="container">

            <div class="row">
                <div class="col">
                    <h3>Contato</h3>
                </div>
            </div><!-- ./row -->

        </div><!-- ./container -->
    </section><!-- #/contact -->

</main>


<footer>

</footer>


<!-- JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>
