{% load static %}

<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>Pricing example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Owl -->
    <link href="{% static 'css/owl.carousel/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.carousel/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.carousel/slides/slides.css' %}" rel="stylesheet">

    <!-- FontAwesome -->
    <link href="{% static 'css/fontawesome/fontawesome-all.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body>

<header>
    <nav id="main-nav" class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Empresa</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Serviços</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Clientes</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Depoimentos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contato</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<section id="slider" class="owl-carousel owl-theme">
    <div class="item">
        <img src="{% static 'img/slides/slider-1.jpg' %}">
        <div class="slider-content-text">
            <h2>Simple Slide That</h2>
            <p>Your beautiful slider in this moment!</p>
        </div>
    </div>
</section>

<main>

    <section id="company" class="">
        <div class="container">

            <div class="row">
                <div class="col">
                    <h3>Empresa</h3>
                </div>
            </div><!-- ./row -->

            <div class="row">
                <div class="col">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto asperiores doloremque
                    dolores esse est illum maxime molestiae optio rerum. Dignissimos dolorem laborum provident ratione,
                    tempora totam voluptate? Id, rem?
                </div>
            </div><!-- ./row -->

        </div><!-- ./container -->
    </section><!-- #/company -->

    <section id="services">
        <div class="container">

            <div class="row">
                <div class="col">
                    <h3>Serviços</h3>
                </div>
            </div><!-- ./row -->

            <div class="row">
                <div class="col-4">
                    <h4>One</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, nisi, voluptates. Consectetur
                        doloribus eligendi nemo voluptas voluptates. Aperiam dolorem doloribus hic illo in maiores
                        provident
                        quasi tempora? Atque, libero quaerat?</p>
                </div>
                <div class="col-4">
                    <h4>One</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, nisi, voluptates. Consectetur
                        doloribus eligendi nemo voluptas voluptates. Aperiam dolorem doloribus hic illo in maiores
                        provident
                        quasi tempora? Atque, libero quaerat?</p>
                </div>
                <div class="col-4">
                    <h4>One</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, nisi, voluptates. Consectetur
                        doloribus eligendi nemo voluptas voluptates. Aperiam dolorem doloribus hic illo in maiores
                        provident
                        quasi tempora? Atque, libero quaerat?</p>
                </div>
            </div><!-- ./row -->

        </div><!-- ./container -->
    </section><!-- #/services -->

    <section id="clients">
        <div class="container">

            <div class="row">
                <div class="col">
                    <h3>Clientes</h3>
                </div>
            </div><!-- ./row -->

            <div class="row">
                <div class="col">
                    <div id="owl-clients" class="owl-carousel owl-theme">
                        <div class="item"><img src="{% static 'img/clients/1_B4aithLWk4pbo7VXATxRag.png' %}"></div>
                        <div class="item"><img src="{% static 'img/clients/2000px-Dropbox_logo_2017.svg.png' %}"></div>
                        <div class="item"><img src="{% static 'img/clients/coca-cola-logo.png' %}"></div>
                        <div class="item"><img src="{% static 'img/clients/facebook-logo-png-1722.png' %}"></div>
                        <div class="item"><img src="{% static 'img/clients/googlelogo_color_272x92dp.png' %}"></div>
                        <div class="item"><img
                                src="{% static 'img/clients/Unbounce-primary-logo-light-background.png' %}"></div>
                    </div>

                    <div id="testimonials" class="owl-carousel owl-theme">
                        <div class="item">
                            <img src="{% static 'img/operador.png' %}">
                            <h3>Danilo Rodrigues - CEO</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam optio quaerat saepe
                                temporibus.
                                Commodi consectetur cupiditate earum impedit maxime optio reiciendis sapiente
                                voluptatem!
                                Consequuntur et incidunt iure mollitia similique veniam!</p>
                        </div>
                        <div class="item">
                            <img src="{% static 'img/operador.png' %}">
                            <h3>Danilo Rodrigues - CEO</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam optio quaerat saepe
                                temporibus.
                                Commodi consectetur cupiditate earum impedit maxime optio reiciendis sapiente
                                voluptatem!
                                Consequuntur et incidunt iure mollitia similique veniam!</p>
                        </div>
                        <div class="item">
                            <img src="{% static 'img/operador.png' %}">
                            <h3>Danilo Rodrigues - CEO</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam optio quaerat saepe
                                temporibus.
                                Commodi consectetur cupiditate earum impedit maxime optio reiciendis sapiente
                                voluptatem!
                                Consequuntur et incidunt iure mollitia similique veniam!</p>
                        </div>
                    </div>
                </div>
            </div><!-- ./row -->

        </div><!-- ./container -->
    </section><!-- #/clients -->

    <section id="blog">
        <div class="container">

            <div class="row">
                <div class="col">
                    <h3>Blog</h3>
                </div>
            </div><!-- ./row -->

            <div class="row blog-list">

                <div class="col-4">
                    <div class="card">
                        <img src="{% static 'img/blog/tumblr_mxrv8vRMbA1st5lhmo1_12802.jpg' %}">
                        <div class="card-content">
                            <h3>Interdum</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, magni, recusandae!
                                Accusantium dolor facilis incidunt, libero nemo nihil nisi quas soluta totam
                                voluptatibus.
                                Aspernatur expedita illo ipsa laborum repellat, tempore.</p>
                            <a href="">ler mais <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card">
                        <img src="{% static 'img/blog/tqable.jpg' %}">
                        <div class="card-content">
                            <h3>Portit Mollis Vitae</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, magni, recusandae!
                                Accusantium dolor facilis incidunt, libero nemo nihil nisi quas soluta totam
                                voluptatibus.
                                Aspernatur expedita illo ipsa laborum repellat, tempore.</p>
                            <a href="">ler mais <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card">
                        <img src="{% static 'img/blog/9038266281_b3372d13f2_h.jpg' %}">
                        <div class="card-content">
                            <h3>Ambrose Redmoon</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, magni, recusandae!
                                Accusantium dolor facilis incidunt, libero nemo nihil nisi quas soluta totam
                                voluptatibus.
                                Aspernatur expedita illo ipsa laborum repellat, tempore.</p>
                            <a href="">ler mais <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <a href="" class="btn btn-success btn-lg" role="button">Ver mais</a>
                </div>
            </div>

        </div><!-- ./container -->
    </section><!-- #/blog -->

    <section id="contact">
        <div class="container">

            <div class="row">
                <div class="col">
                    <h3>Contato</h3>
                </div>
            </div><!-- ./row -->

            <div class="row">
                <div class="col"></div>
                <div class="col-6">
                    <form class="" action="" method="post">
                        <div class="form-group">
                            <input id="name" class="form-control form-control-lg" type="text" placeholder="Nome">
                        </div>
                        <div class="form-group">
                            <input id="email" class="form-control form-control-lg" type="email" placeholder="E-mail">
                        </div>
                        <div class="form-group">
                            <textarea id="name" class="form-control form-control-lg" placeholder="Mensagem"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success btn-lg">Enviar</button>
                    </form>
                </div>
                <div class="col"></div>
            </div>

        </div><!-- ./container -->
    </section><!-- #/contact -->

    <section id="full-map" class="embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15288.03763591321!2d-49.26112806633301!3d-16.67641260148489!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1a4b1265e6a4e602!2sPra%C3%A7a+Dr.+Pedro+Ludovico+Teixeira!5e0!3m2!1spt-BR!2sbr!4v1522115025229"
                width="600" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>

</main>


<footer>
    <div class="container">
        <div class="row">

            <div class="col-5">
                <h2>Start Bootstrap</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus beatae consequatur dolor enim
                    expedita hic ipsum laudantium molestias, mollitia nam nemo optio quaerat rem repudiandae temporibus
                    ullam veniam? Tempora!</p>
                <p><i class="fas fa-1x fa-envelope"></i>contact@startbootstrap.com</p>
                <p><i class="fas fa-1x fa-phone"></i> (00) 00000-0000</p>
                <div class="social-links">
                    <a href="http://facebook.com.br"><i class="fab fa-facebook-f"></i></a>
                    <a href="http://instagram.com"><i class="fab fa-instagram"></i></a>
                    <a href="http://plus.google.com"><i class="fab fa-google-plus"></i></a>
                    <a href="http://twitter.com"><i class="fab fa-twitter"></i></a>
                </div>
            </div><!-- ./col-5 -->

            <div class="col">
                <h4>Navegue</h4>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Empresa</a></li>
                    <li><a href="">Serviços</a></li>
                    <li><a href="">Clientes</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Contato</a></li>
                </ul>
            </div><!-- ./col -->

            <div class="col">
                <h4>Últimas Notícias</h4>
                <ul class="last-blog">
                    <li>
                        <a href="">
                            <div class="image">
                                <img src="{% static 'img/blog/9038266281_b3372d13f2_h.jpg' %}">
                            </div>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="image">
                                <img src="{% static 'img/blog/9038266281_b3372d13f2_h.jpg' %}">
                            </div>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="image">
                                <img src="{% static 'img/blog/9038266281_b3372d13f2_h.jpg' %}">
                            </div>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div><!-- ./col -->

        </div><!-- ./row -->

        <div class="row">
            <div class="col text-center">
                <p>Copyrights © 2017 Start Bootstrap. Todos os direitos reservados.</p>
            </div>
        </div>

    </div><!-- ./container -->
</footer><!-- footer -->


<!-- JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

<!-- bootstrap -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- owl -->
<script src="{% static 'js/owl.carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/owl.carousel/owl.main.js' %}"></script>

<!-- menu -->
<script src="{% static 'js/menu/menu.js' %}"></script>

</body>
</html>
