/**
 * ============================================================================
 * SECTION BLOG
 * ============================================================================
 */

img {
    max-width: 100%;
}

.card {
    -webkit-border-radius: .375rem;
    -moz-border-radius: .375rem;
    border-radius: .375rem;
    -webkit-box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);
    -moz-box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);
    box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.card img {
    border-top-left-radius: .375rem;
    border-top-right-radius: .375rem;
}

.card:hover {
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2)
}

.card-content {
    padding: 1rem;
}

#full-map iframe {

}


.last-blog {
    padding: 0;
    margin: 0;
    list-style: none;
}
.last-blog li {
    padding: 0;
    margin-bottom: 1rem;
}

.last-blog li a {
    display: flex;
    margin: 0;
    padding: .5rem;
    border: 1px solid #bbbbbb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.last-blog .image {
    flex: 1 auto;
    max-width: 40%;
    margin-right: 10px;
}

.last-blog .image img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.last-blog .content {
    flex: 1;
}

.last-blog .content p {
    margin-bottom: 0;
}

footer h2 {
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
    color: #fed136;
    font-size: 1.75em;
}
