{% load static %}

<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>Pricing example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Owl -->
    <link href="{% static 'css/owl.carousel/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.carousel/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.carousel/slides/slides.css' %}" rel="stylesheet">

    <!-- FontAwesome -->
    <link href="{% static 'css/fontawesome/fontawesome-all.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body>

{% include 'nav.html' %}

{% block header_name %}
    <section id="header-section" class="bg-light">
        <div class="container">
            <div class="row">


                <div class="col">
                    <h1>Blog</h1>
                </div>


            </div><!-- ./row -->
        </div><!-- ./container -->
    </section>
{% endblock %}

<main>

    {% block content %}
    {% endblock %}

</main>


<footer>
    <div class="container">
        <div class="row">

            <div class="col-5">
                <h2>Start Bootstrap</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus beatae consequatur dolor enim
                    expedita hic ipsum laudantium molestias, mollitia nam nemo optio quaerat rem repudiandae temporibus
                    ullam veniam? Tempora!</p>
                <p><i class="fas fa-1x fa-envelope"></i>contact@startbootstrap.com</p>
                <p><i class="fas fa-1x fa-phone"></i> (00) 00000-0000</p>
                <div class="social-links">
                    <a href="http://facebook.com.br"><i class="fab fa-facebook-f"></i></a>
                    <a href="http://instagram.com"><i class="fab fa-instagram"></i></a>
                    <a href="http://plus.google.com"><i class="fab fa-google-plus"></i></a>
                    <a href="http://twitter.com"><i class="fab fa-twitter"></i></a>
                </div>
            </div><!-- ./col-5 -->

            <div class="col">
                <h4>Navegue</h4>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Empresa</a></li>
                    <li><a href="">Serviços</a></li>
                    <li><a href="">Clientes</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Contato</a></li>
                </ul>
            </div><!-- ./col -->

            <div class="col">
                <h4>Últimas Notícias</h4>
                <ul class="last-blog">
                    <li>
                        <a href="">
                            <div class="image">
                                <img src="{% static 'img/blog/9038266281_b3372d13f2_h.jpg' %}">
                            </div>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="image">
                                <img src="{% static 'img/blog/9038266281_b3372d13f2_h.jpg' %}">
                            </div>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="image">
                                <img src="{% static 'img/blog/9038266281_b3372d13f2_h.jpg' %}">
                            </div>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div><!-- ./col -->

        </div><!-- ./row -->

        <div class="row">
            <div class="col text-center">
                <p>Copyrights © 2017 Start Bootstrap. Todos os direitos reservados.</p>
            </div>
        </div>

    </div><!-- ./container -->
</footer><!-- footer -->


<!-- JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

<!-- bootstrap -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- owl -->
<script src="{% static 'js/owl.carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/owl.carousel/owl.main.js' %}"></script>

<!-- menu -->
<script src="{% static 'js/menu/menu.js' %}"></script>

</body>
</html>
